[Unit]
Description=Flask Server
After=network.target

[Service]
Type=simple
User=pi
ExecStartPre=source /home/pi/projects/flaskserver/flaskvenv/bin/activate
ExecStart=/home/pi/projects/flaskserver/flaskvenv/startflask

[Install]
WantedBy=multi-user.target
